@import 'normalize.css';

@unocss;

/* Increase specificity for ToggleSwitch styles */
body  {
  /* PrimeVue Button Overrides */
  --p-button-primary-color:                   var(--acc2-base) !important;
  --p-button-primary-background:              var(--int-base) !important;
  --p-button-primary-border-color:            var(--int-hover) !important;

  --p-button-primary-hover-background:        var(--int-hover) !important;
  --p-button-primary-hover-border-color:      var(--int-active) !important;
  --p-button-primary-hover-color:             var(--acc2-hover) !important;

  --p-button-primary-active-background:       var(--int-active) !important;
  --p-button-primary-active-border-color:     var(--int-base) !important;
  --p-button-primary-active-color:            var(--acc2-active) !important;

  /* PrimeVue Banner Overrides */
  --p-message-icon-size:                      1.5rem;
  --p-message-content-padding:                1rem 1.2rem;
  --p-message-content-gap:                    0.8rem;
  --p-message-border-width:                   4px;

  --p-message-contrast-outlined-color:        var(--text);
  --p-message-contrast-outlined-border-color: var(--text);

  /* PrimeVue Card Overrides */
  --p-card-background:                        var(--card-bg) !important;
  --p-card-color:                             var(--text);

  /* PrimeVue ToggleSwitch Overrides */
  --p-toggleswitch-background:                var(--int-base) !important; 
  --p-toggleswitch-border-color:              var(--form-border) !important;
  --p-toggleswitch-hover-background:          var(--int-hover) !important;
  --p-toggleswitch-hover-border-color:        var(--form-border) !important;

  --p-toggleswitch-checked-background:        var(--acc-base) !important;
  --p-toggleswitch-checked-border-color:      var(--form-border) !important;
  --p-toggleswitch-checked-hover-background:  var(--acc-hover) !important;
  --p-toggleswitch-checked-hover-border-color:var(--form-border) !important;

  --p-toggleswitch-handle-background:         var(--form-background) !important;
  --p-toggleswitch-checked-handle-background: var(--form-background) !important;
  --p-toggleswitch-handle-color:              var(--text) !important;

  --p-toggleswitch-focus-ring-color:          var(--form-border-focus) !important;

  --p-toggleswitch-handle-hover-background:   var(--form-background-hover) !important;
  --p-toggleswitch-handle-checked-background: var(--form-background-focus) !important;


  --p-toggleswitch-handle-hover-color:        var(--text) !important;

  /* PrimeVue Select Overrides */
  --p-select-border-color:                    var(--form-border);
  --p-select-hover-border-color:              var(--form-focus);
  --p-select-focus-border:                    var(--form-border-focus);
  --p-select-background:                      var(--form-background);
  --p-select-text-color:                      var(--text);
  --p-select-placeholder-color:               var(--form-placeholder-text);
  --p-select-dropdown-color:                  var(--text);
  --p-select-option-color:                    var(--text);

  --p-select-hover-border-color:              var(--form-border);

  --p-select-focus-border-color:              var(--form-border-focus);
  --p-overlay-select-border-color:            var(--form-border-hover);
  --p-select-overlay-border-color:            var(--form-border-hover);

  --p-select-option-hover-background:         var(--form-background-hover);
  --p-select-option-selected-background:      var(--form-background-focus);
  --p-select-option-selected-text-color:      var(--text);
  
  --p-select-overlay-background:              var(--form-background);
  --p-select-overlay-color:                   var(--text);

  --p-select-option-selected-background:      var(--form-background-focus);
  --p-select-option-selected-color:           var(--text);
  --p-select-option-focus-background:         var(--form-background-hover);  
  --p-select-option-focus-color:              var(--text);

  --p-select-option-selected-focus-background: var(--form-background-focus);
  --p-select-option-selected-focus-color:     var(--text);

  --p-select-placeholder-color:               var(--form-placeholder-text);
  
  /* PrimeVue Menubar Overrides */
  --p-menubar-item-color:                     var(--int-base);
  --p-menubar-item-focus-color:               var(--int-hover);
  --p-menubar-item-focus-background:          var(--form-background-hover);

  --p-menubar-submenu-background:             var(--form-background);

  --p-menubar-mobile-button-color:            var(--text);
  --p-menubar-mobile-button-hover-color:      var(--text);

  --p-menubar-mobile-button-background:       var(--form-background);
  --p-menubar-mobile-button-hover-background: var(--form-background-hover);
  --p-menubar-mobile-button-active-background: var(--form-background-focus);

  /* PrimeVue Float Label Overrides */
  --p-floatlabel-color:                       var(--form-placeholder-text);
  --p-floatlabel-focus-color:                 var(--form-placeholder-text);
  --p-floatlabel-active-color:                var(--form-placeholder-text);
  

  /* PrimeVue InputText Overrides */
  --p-inputtext-background:                   var(--form-background) !important;
  --p-inputtext-border-color:                 var(--form-border);
  --p-inputtext-color:                        var(--text);

  --p-inputtext-hover-border-color:           var(--form-border-hover);
  --p-inputtext-focus-border-color:           var(--form-border-focus);

  /* PrimeVue Textarea Overrides */
  --p-textarea-background:                    var(--form-background) !important;
  --p-textarea-border-color:                  var(--form-border);
  --p-textarea-color:                         var(--text);
  --p-textarea-hover-border-color:            var(--form-border-hover);
  --p-textarea-focus-border-color:            var(--form-border-focus);
  --p-textarea-placeholder-color:             var(--form-placeholder-text);

  /* PrimeVue Radio Button Overrides */
  --p-radiobutton-background:                 var(--form-background);
  --p-radiobutton-border-color:               var(--form-border);
  --p-radiobutton-hover-border-color:         var(--form-border-hover);
  --p-radiobutton-focus-border-color:         var(--form-border-focus);
  --p-radiobutton-checked-background:         var(--acc-base);
  --p-radiobutton-checked-border-color:       var(--form-border);
  --p-radiobutton-checked-hover-background:   var(--acc-hover);
  --p-radiobutton-checked-hover-border-color: var(--form-border-hover);
  --p-radiobutton-checked-focus-background:   var(--acc-focus);
  --p-radiobutton-checked-focus-border-color: var(--form-border-focus);
  --p-radiobutton-checked-color:              var(--text);

  /* PrimeVue Table Overrides */
  --p-datatable-header-cell-color:            var(--text);
  --p-datatable-header-cell-background:       var(--form-background);
  --p-datatable-header-cell-border-color:     var(--form-border);
  --p-datatable-row-background:               transparent;
  --p-datatable-row-color:                    var(--text);
  --p-paginator-background:                   transparent;
  --p-paginator-color:                        var(--text);

  --p-datatable-row-striped-background:       var(--form-background);
}

p, li {
  @apply font-sans text-txt;
}

h1 {
  @apply font-serif text-txt text-3xl mb-16;
}

h2 {
  @apply font-serif text-txt text-2xl mb-8;
}

h3 {
  @apply font-serif text-txt text-xl mb-8;
}

label {
  @apply text-text text-base;
}

#mode {
  @apply font-sans text-txt;
  background-color: var(--bg-color);
  background-image: var(--bg-gradient);
}

main {
  @apply mx-16 md:mx-40 lg:mx-80 mt-8;
}

.admin main {
  margin: 0;
}

Button {
  @apply font-sans w-full md:w-auto;
}

input, textarea {
  @apply w-full md:w-2/3;
}

.video-container {
  overscroll-behavior: contain;
}